/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**********************  Reset **********************/

header {
  position: sticky;
  background-color: #d5cbc0;
  box-shadow: 0 5px 5px #06131c51;
}

main {
  display: grid;
  background-color: #8ca5c172;
}

h1 {
  font-family: roboto condensed;
  font-weight: 400;
  font-size: 2em;
  color: #06131c;
  text-align: left;
  padding: 10px;
  padding-top: 20px;
  margin: 0px;
}

.headerh1 {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: roboto condensed;
  font-weight: 500;
  font-size: 1em;
  color: #06131c;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

a {
  display: grid;
  font-family: roboto condensed;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: #06131c;
  background-color: #d5cbc0;
  border: 2px solid #06131c;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
