/* Grid */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-item {
  gap: 5px;
}

.grid-container-thumbnail {
  background-color: #06131cbd;
  border: 1px solid #06131c;
  border-radius: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: 10px;
  display: grid;
  gap: 5px;
}

.grid_1 {
  display: grid;
  width: 50%;
  gap: 10px;
  grid-template-columns: 1fr;
  margin: 20px;
  padding: 10px;
  align-items: center;
  background-color: #d5cbc072;
  border-radius: 12px;
  justify-content: center;
}

.grid_1 img {
  display: grid;
}

.a {
  display: grid;
  object-fit: cover;
  justify-content: center;
}

@media (width>= 800px) {
  .grid_1 {
    display: grid;
    gap: 20px;
  }

  /* .bedstevenner {
    grid-column: 1/2;
  }

  .desmaating {
    grid-column: 1/2;
  }

  .dervarengang {
    grid: 1/2;
  } */
}
